<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script>
      $(document).ready(function() {
        $(".message-box").fadeOut(3000);
      });
    </script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <%- include ('./partials/messages') %>
        <div class="model">
          <h3>Enter New Password</h3>
          <div class="box">
            <form action="/change_password/<%= user.email %>" method="POST">
              <input type="password" name="password" placeholder="Password" />
              <input
                type="password"
                name="password2"
                placeholder="Retype password"
              />
              <input type="submit" value="Change Password" />
            </form>
          </div>
          <p><a href="">Go to the LogIn page</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
